@font-face {
    font-family: 'spartanRegular';
    src: url('../fonts/Spartan-Regular.ttf');
        font-weight: normal;
        font-style:normal;
      }
@font-face {
    font-family: 'spartanBold';
    src: url('../fonts/Spartan-Bold.ttf');
        font-weight: normal;
        font-style:normal;
      }
@font-face {
        font-family: 'icomoon';
        src:  url('fonts/icomoon.eot?ye6hpa');
        src:  url('../fonts/icomoon.eot?ye6hpa#iefix') format('embedded-opentype'),
          url('../fonts/icomoon.ttf') format('truetype'),
          url('../fonts/icomoon.woff?ye6hpa') format('woff'),
          url('../fonts/icomoon.svg?ye6hpa#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }
      
      [class^="icon-"], [class*=" icon-"] {
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      .icon-icon-arrow:before {
        content: "\e900";
      }
      .icon-icon-close:before {
        content: "\e901";
      }
      .icon-icon-hamburger:before {
        content: "\e902";
        color: #fff;
      }
      .icon-logo:before {
        content: "\e903";
        color: #fff;
      }
      .icon-icon-angle-right:before {
        content: "\e904";
      }
      .icon-icon-angle-left:before {
        content: "\e905";
        color: #fff;
        margin-top: 40px;
      }
      
@media screen and (width: 1440px) {
    .container{
        width: 100%;
        margin: -50px;
        display: grid;
        grid-template-columns: 0.6fr 0.6fr 1fr;
        grid-template-areas: 
        "head head headR";
        margin-top: -10px;
    }
     .container1 {
        width: 100%;
        margin: -10px;
        display: grid;
        grid-template-columns: 0.8fr 2.2fr 0.5fr;
        grid-template-rows: 1.7fr;
        grid-template-areas:
        "footerL footerC footerR";
      }
     .head1{
        grid-area: head;
        z-index: -1; 
        background: LightSalmon;
        /* margin-top: -100px; */
        position:relative;
        /* width: 100px; */
        /* height: auto;  */
    }
    /* Fondo del index */ 
    .navBar{
        font-family: spartanBold;
        color: #ffffff;
        display: grid;
        width: 100%;
        margin-top: -550px;
        /*
        grid-template-columns: 130px 5fr 5fr 5fr 5fr;
        grid-template-rows: 1fr; */
    }
    .title{
        z-index: 1;
        position: relative;
        /* margin-top: -540px; */
        margin-left: 80px;
        /* font-size: 30px; */
        margin-top: -150px;
    }
    .icons{
        margin-top: -900px;
        margin-left: 50px;
        z-index: 1;
        position: relative;
        font-size: 30px;
    }
    .subtitle{
        width: 100%;
        z-index: 1;
        position: relative;
        margin-top: -345px;
        font-size: 14px;
        margin-left: 180px;
        align-items: center;
        /* margin-top: 200px; */
    }

    /* .navBar ul{
        margin: 0;
        padding: 0;
    } */
    .navBar li{
        float: left;
        margin: 0 2rem 0 0;
        list-style: none;
        text-align: center;
    }
    .navBar a {
        text-decoration: none;
        color: #ffffff;
    }
    .img1{
        z-index: -1;
        position:relative;
        /* margin-top: -79px; */
        width: 955px;
        height: 580px;
    }
    
    .head2{
        /* height: 200px;
        width: 200px; */
        margin-top: -20px; 
        grid-area: headR;
        background: #ffffff;
        display: grid;
        width: 100%;
        grid-template-columns: 500px;
        grid-template-rows: 2fr 2.5fr 1fr;
        justify-content: center;
        /* z-index: -1;
        position:absolute; */
    }
    
    .title1{
        font-family: spartanBold;
        font-size: 21px;
        justify-items: center;
        margin-left: 20px;
        margin-top: 80px;
        /* background-color: darkslategray; */
    }
    .content{
        font-family: spartanRegular;
        margin-left: 20px;
        font-size: 10px;
        color: #ababab;
        /* background-color: darkgoldenrod; */
    }

    .iconosFlechas{
        /* position: relative;
        z-index: 5; */
        background: #000000;
        font-size: 40px;
        margin-left: -73px;
        
    }

    /* Imagen sillas negras */
    .img2{
        /* margin-top: 5px;
        margin-left: -8px; */
        width: 440px;
        height: 280px;
    }
    
    .footer1{
        /* margin-left: -10px; */
        background: LightSkyBlue;
        grid-area: footerL;
    }
    
    .footer2{
        /* margin-left: -10px; */
        background: PaleGreen;
        grid-area: footerC;
        background-color: #ffffff;
    }
    
    .footer3{
        /* margin-left: -10px; */
        background: PaleTurquoise;
        grid-area: footerR;
    }
    .img3{
        margin-left: -10px; 
        width: 440px;
        height: 280px;
    }
}

@media screen and (width: 375px) {

    .container{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: 800px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "first"
        "second";
        margin-top: -10px;
        margin-left: -10px;
    }
    .container1 {
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns:700px;
        grid-template-rows: 1fr 1.5fr 1fr;
        grid-template-areas:
        "third"
        "fourth"
        "fifth"
        ;
      }
    .head1{
        grid-area: first;
        z-index: -1; 
        background: LightSalmon;
        /* margin-top: -100px; */
        position:relative;
        /* width: 100px; */
        /* height: auto;  */
    }
    .head2{
        /* height: 200px;
        width: 200px; */
        /* margin-top: -10px; */
        margin-top: -45px; 
        grid-area: second;
        background: #ffffff;
        display: grid;
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: 2fr 2.5fr 1fr;
        justify-content: center;
        /* z-index: -1;
        position:absolute; */
    }
    .img1{
        z-index: -1;
        position:relative;
        /* margin-top: -79px; */
        width: 860px;
        height: 750px;
        margin-left: -10px;
    }
    .title{
        z-index: 1;
        position: absolute;
        margin-top: -30px;
        margin-left: 350px;
        font-size: 30px;
        /* margin-top: 200px; */
    }
    .icons{
        margin-top: -1450px;
        margin-left: 50px;
        z-index: 1;
        position: relative;
        font-size: 30px;
    }
    .mostrar{
        height: 100px;
    }
    .menu {
        z-index: 2;
        position: relative;
        margin-top: -895px;
        margin-left: 300px;
        width: 100%;
        background: rgba(0,0,0,.80);
        padding: 0;
        /* margin: 0; */
        /* list-style: none;
        text-align: center; */
        height: 0;
        overflow: hidden;
        transition: height .2s linear;
        
    }
    .menu__link {
        display: block;
        padding: 25px;
        color: white;
        text-decoration: none;
    }
    .title1{
        font-family: spartanBold;
        font-size: 30px;
        justify-items: center;
        margin-left: 80px;
        margin-top: 80px;
        /* background-color: darkslategray; */
    }
    .content{
        font-family: spartanRegular;
        margin-left: 40px;
        margin-top: -30px;
        font-size: 20px;
        color: #ababab;
        /* background-color: darkgoldenrod; */
    }
    .footer1{
        /* margin-left: -10px; */
        background: LightSkyBlue;
        grid-area: third;
    }
    .footer2{
        /* margin-left: -10px; */
        background: PaleGreen;
        grid-area: fourth;
        background-color: #ffffff;
    }
    
    .footer3{
        /* margin-left: -10px; */
        background: PaleTurquoise;
        grid-area: fifth;
    }
    .img2{
        /* margin-top: 5px;*/
        margin-left: -10px; 
        width: auto;
        height: 600px;
    }
    .img3{
        margin-left: -10px; 
        width: auto;
        height: 600px;
    }
}